.content {background-color:#EFE4B0;}
.code {background-color:#8080FF;}
#tooltip {
  position: absolute;
  margin: 15px;
  width: 200px;
  height: auto;
  border: 2px solid #0000ff;
  display: none;
  background-color: #DDDDff;
  visible: hidden;
}
.ttip {font-weight:bold; color:#0000FF; text-decoration: underline overline;}
